.nav-top{
	background-color: #279cf9;
	min-height:44px;
}

.nav-top .mui-action-back,
.nav-top .mui-title{
	color:#fff;
}

.mui-bar~.mui-content{
	padding-top: 60px;
}

.content .hint{
	padding-left:10px;
}

.content .red-font{
	color: red;
}

.content .submit{
	margin-top: 15px;
    border-radius: 0;
    padding: 9px 0;
}
